.logo-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo-svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.fade {
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.fade-1 {
    animation-name: fadeInOut1;
}

.fade-2 {
    animation-name: fadeInOut2;
}

@keyframes fadeInOut1 {
    0% {
    opacity: 1;
    }
    20% {
    opacity: 1;
    }
    80% {
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
}

@keyframes fadeInOut2 {
    0% {
    opacity: 0;
    }
    20% {
    opacity: 0;
    }
    80% {
    opacity: 1;
    }
    100% {
    opacity: 1;
    }

}
